@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul,
ol {
    list-style-type: none;
}

html {
    --ffamily--poppins:'Poppins', sans-serif;
    --ffamily--inter: font-family: 'Inter', sans-serif;
    --primary-color:#FF5959;
}
img {
    max-width: 100%;
}
/* h1, h2, h3 {
    font-family: var(--ffamily--inter);
    padding-bottom: 10px;
} */
p {
    color: #707070;
}
body {
    font-family: var(--ffamily--poppins);
}
.btn_primary {
    background: var(--primary-color);
    padding: 10px 30px;
    border-radius: 5px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    font-family: var(--ffamily--inter);
}
/*================== header section  ================*/
header {
    background-image: url(images/Rectangle\ 237.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.banner {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    text-align: center;
}
.banner h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
}
.banner p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

/*==================  ================*/

main {
    max-width: 80%;
    margin: 0 auto;
}

/*================== donate today section  ================*/

.donate_today {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.section_title {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.section_title h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #121212;
    /* font-family: var(--ffamily--poppins); */
}
.section_title p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.tk {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    margin-bottom: 50px;
}
.tk h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #707070;
    width: 136px;
    height: 123px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;}
.tk h3:hover {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: var(--primary-color);
}
.donate {
    text-align: center;
}
.donate p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.donate hr {
    color: #B3B3B3;
    margin-bottom: 24px;
}

/*================== service section  ================*/
.service_section{
    margin-bottom: 100px;
}
.service {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.service_box {
    width: 360px;
    height: 352px;
    padding: 60px 24px;
}
.service_box h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #121212;
    margin: 30px 0px 16px 0px;
}
.service_box p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.one{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}
.two{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}
.three{
    background: rgb(255, 244, 214);
    border-radius: 5px;
}

/*================== donation section one and two  ================*/
.donation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 120px;
}
.donation > * {
    flex-basis: 100%;
}
.donation_article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}
.donation_img img {
    width: 456px;
    height: 477px;
}
.donation_article h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}
.donation_article p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

/*================== Update section  ================*/
.update_mail {
    max-width: 700px;
    height: 200px;
    margin: 0 auto;
    /* padding: 80px 180px; */
    background: rgb(255, 244, 214);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.update_mail input {
    width: 275px;
    height: 48px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    border: none;
    padding-left: 8px;
}